@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    margin: 0;
}

:root{
    --font-color: white;
    font-family: 'Comfortaa', cursive;
}
body {
    max-width: 980px;
    margin: auto;
}

.content {
    background-color:#444444;
}

header{
    background-color: #808080;
    color: #ffffff;
    position: sticky;
    top: 0;
}
header nav .menu{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    margin:1rem 0rem;
    text-transform: uppercase;
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-content: center;
}

header nav .menu li {
    display: flex;
    align-items: center;
}

header nav .menu li a {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
}
header nav .menu li a:hover {
}
header nav .menu li a:focus {
    font-weight: 600;
}
@media (min-width: 600px) {
   main .product-list {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-gap: 5px;
   }
}

@media (min-width: 900px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
main #logo{
    background-image: url(..//img/homeexample.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logo{
    font-size: 4rem;
    color:#444444;
}









#largo {
    display: flex;
    justify-content: flex-end;
}