@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    margin: 0;
}

:root{

    font-family: 'Comfortaa', cursive;
}

body {
    max-width: 980px;
    margin: auto;
    }
main {
    background-color: #333333;
}
header{
    color:black;
    top: 0;
}

header nav .menu{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

header nav .menu li {
    display: flex;
    align-items: center;
}

header nav .menu li a {
    text-decoration: none;
    color: var(--font-color);

}
header nav .menu li a:hover {
    font-weight: 600;
    text-decoration-line: underline;
}
header nav .menu li a:focus {
    font-weight: 600;
}

#logo{
    background-image: url(..//img/homeexample.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    font-size: 4rem;
    color:#444444;
}
.title {
    color: white;
    padding: 2;
}
p {
    color: white;
}
div .sections {
    display: grid;
    
}
.clock {
    float: right;
}

.projecthouse {
    opacity: 1; 
    width: 200px;
    cursor: pointer;
    border: 1.11px solid #FFF;
  }
   
  .projecthouse:hover {
    border: 1px solid rgb(94, 94, 94);
  }
  
  #magnify {
    display: none;
    position: fixed;
    max-width: 600px;
    height: auto;
    z-index: 9999;
  }
   
  #magnify img {
    width: 100%;
  }
   
  #overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
  }

  #close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
   
  #close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
  }
   
  #close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .namehouse {
    margin-top: 10px;
    font-size: x-large;
  }

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-rows: auto;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
   }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-container > div {
  padding: 20px 0;
}
